# MEMORIA P0 - PRÁCTICA DE TRATAMIENTO DE DATOS
## Alejandro Benimeli y Rodrigo Juez

### Imports

In [1]:
from Datos import Datos
import EstrategiaParticionado
import Clasificador

In [2]:
#dataset=Datos('../ConjuntosDatos/tic-tac-toe.data')
dataset=Datos('../ConjuntosDatos/german.data')

In [3]:
dataset.extraeDatos([0,1])

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
0,0,6,4,4,1169,4,4,4,2,0,...,0,67,2,1,2,2,1,1,0,1
1,1,48,2,4,5951,0,2,2,1,0,...,0,22,2,1,1,2,1,0,0,2

In [4]:
dataset.diccionario

{'A1': {'A11': 0, 'A12': 1, 'A13': 2, 'A14': 3},
 'A2': {},
 'A3': {'A30': 0, 'A31': 1, 'A32': 2, 'A33': 3, 'A34': 4},
 'A4': {'A40': 0,
  'A41': 1,
  'A410': 2,
  'A42': 3,
  'A43': 4,
  'A44': 5,
  'A45': 6,
  'A46': 7,
  'A48': 8,
  'A49': 9},
 'A5': {},
 'A6': {'A61': 0, 'A62': 1, 'A63': 2, 'A64': 3, 'A65': 4},
 'A7': {'A71': 0, 'A72': 1, 'A73': 2, 'A74': 3, 'A75': 4},
 'A8': {},
 'A9': {'A91': 0, 'A92': 1, 'A93': 2, 'A94': 3},
 'A10': {'A101': 0, 'A102': 1, 'A103': 2},
 'A11': {},
 'A12': {'A121': 0, 'A122': 1, 'A123': 2, 'A124': 3},
 'A13': {},
 'A14': {'A141': 0, 'A142': 1, 'A143': 2},
 'A15': {'A151': 0, 'A152': 1, 'A153': 2},
 'A16': {},
 'A17': {'A171': 0, 'A172': 1, 'A173': 2, 'A174': 3},
 'A18': {},
 'A19': {'A191': 0, 'A192': 1},
 'A20': {'A201': 0, 'A202': 1},
 'Class': {}}

In [5]:
def printing_particiones(estrategiaparticionado, dataset):
    particiones = estrategiacruzada.creaParticiones(dataset)
    print(f"\033[94m\033[1mAquí imprimimos la primera de las {len(particiones)} particiones:\n\033[0m{particiones[0]}")
    return dataset.extraeDatos(particiones[0].indicesTrain), dataset.extraeDatos(particiones[0].indicesTest)

### Ejemplo de Validación Cruzada

In [6]:
estrategiacruzada = EstrategiaParticionado.ValidacionCruzada(4)
datostrain, datostest = printing_particiones(estrategiacruzada, dataset)

Aquí imprimimos la primera de las 4 particiones:
Train: [847, 145, 624, 106, 334, 130, 176, 148, 410, 595, 276, 9, 471, 509, 288, 976, 933, 738, 174, 896, 21, 460, 195, 153, 52, 332, 864, 548, 836, 42, 204, 256, 895, 942, 767, 236, 654, 638, 323, 93, 27, 716, 289, 258, 773, 532, 413, 752, 15, 119, 84, 2, 302, 622, 7, 234, 958, 97, 113, 775, 377, 272, 294, 644, 674, 41, 821, 151, 501, 968, 893, 932, 485, 523, 921, 903, 402, 249, 308, 17, 845, 280, 697, 783, 78, 666, 613, 207, 273, 988, 129, 301, 30, 749, 91, 798, 562, 146, 150, 208, 131, 525, 459, 420, 518, 387, 839, 25, 790, 197, 99, 389, 393, 211, 671, 335, 18, 88, 668, 508, 340, 46, 593, 706, 641, 994, 985, 304, 957, 616, 390, 909, 177, 55, 978, 965, 763, 284, 506, 339, 908, 656, 194, 189, 737, 569, 534, 63, 441, 951, 156, 617, 524, 347, 72, 833, 919, 621, 112, 635, 997, 328, 223, 81, 869, 590, 423, 591, 541, 92, 102, 912, 513, 191, 139, 639, 493, 764, 708, 574, 807, 6, 101, 171, 351, 650, 820, 926, 954, 399, 669, 983, 540, 247, 169, 483, 578, 429, 922, 117, 688, 536, 645, 702, 647, 776, 360, 498, 573, 172, 730, 187, 555, 382, 192, 314, 675, 868, 419, 517, 39, 598, 313, 397, 48, 62, 448, 955, 259, 962, 116, 322, 424, 447, 348, 779, 973, 945, 943, 787, 64, 734, 28, 82, 963, 358, 967, 914, 228, 822, 642, 465, 643, 929, 971, 969, 594, 583, 900, 14, 589, 810, 239, 727, 894, 659, 464, 370, 291, 862, 336, 818, 700, 175, 141, 672, 615, 812, 660, 701, 188, 709, 805, 713, 570, 936, 250, 463, 53, 319, 944, 417, 620, 636, 755, 488, 230, 434, 693, 349, 923, 457, 725, 959, 279, 980, 495, 883, 450, 426, 646, 481, 242, 632, 466, 371, 588, 901, 219, 987, 36, 746, 201, 961, 907, 735, 887, 226, 300, 68, 486, 931, 742, 344, 712, 984, 686, 627, 77, 610, 33, 132, 461, 946, 418, 612, 4, 606, 152, 960, 56, 248, 388, 238, 766, 354, 473, 879, 854, 179, 563, 421, 168, 215, 771, 793, 691, 739, 166, 170, 546, 835, 90, 522, 587, 811, 203, 206, 537, 950, 902, 356, 848, 792, 875, 372, 47, 956, 797, 296, 275, 844, 819, 851, 799, 409, 882, 270, 559, 467, 245, 861, 853, 297, 337, 173, 989, 604, 732, 490, 657, 952, 307, 916, 185, 679, 885, 677, 127, 684, 661, 196, 257, 665, 98, 658, 754, 761, 991, 829, 729, 213, 489, 158, 877, 597, 362, 873, 237, 366, 476, 703, 815, 993, 794, 51, 561, 306, 243, 995, 100, 774, 670, 852, 365, 927, 12, 338, 255, 346, 227, 502, 630, 271, 61, 527, 769, 826, 278, 888, 134, 350, 698, 878, 472, 167, 438, 551, 800, 497, 435, 535, 633, 494, 124, 560, 977, 35, 543, 685, 60, 492, 414, 220, 504, 762, 751, 66, 581, 437, 724, 913, 715, 747, 990, 446, 840, 432, 324, 214, 442, 142, 453, 79, 619, 652, 577, 285, 681, 374, 180, 496, 603, 415, 136, 470, 299, 905, 837, 748, 469, 253, 445, 841, 281, 386, 891, 32, 663, 439, 193, 212, 292, 482, 65, 368, 828, 655, 648, 159, 400, 964, 897, 530, 915, 567, 427, 710, 73, 11, 143, 889, 970, 786, 87, 507, 728, 538, 809, 890, 316, 403, 558, 216, 352, 568, 95, 353, 70, 918, 953, 265, 458, 57, 692, 364, 155, 662, 114, 231, 367, 408, 876, 855, 718, 846, 133, 86, 651, 468, 802, 69, 860, 67, 500, 480, 241, 520, 111, 637, 850, 757, 941, 843, 910, 723, 554, 768, 618, 600, 108, 109, 449, 240, 190, 357, 451, 85, 331, 163, 407, 683, 479, 722, 611, 165, 937, 556, 343, 717, 137, 948, 478, 118, 375, 287, 266, 549, 383, 381, 552, 462, 202, 477, 550, 599, 584, 788, 44, 43, 741, 58, 24, 753, 928, 186, 162, 999, 49, 872, 758, 149, 796, 784, 312, 333, 330, 564, 505, 13, 519, 1, 244, 487, 602, 609, 940, 858, 772, 865, 813, 689, 123, 695, 770, 580, 23, 778, 10, 341, 221, 157, 295, 264, 452, 251, 433, 80, 544, 832, 512, 394, 200, 911, 225, 369, 827, 834, 474, 303, 825, 899, 29, 759, 315, 147, 392, 935, 484, 765, 830, 444, 293, 290, 904, 431, 224, 998, 298, 857, 161, 579, 881, 263, 687, 83, 140, 707, 906, 405]

Test: [510, 396, 605, 218, 515, 89, 164, 806, 966, 870, 411, 842, 401, 649, 930, 575, 511, 582, 404, 867, 376, 373, 96, 760, 740, 499, 181, 309, 673, 886, 422, 585, 359, 107, 425, 838, 430, 154, 277, 182, 731, 531, 310, 412, 516, 37, 934, 103, 975, 898, 325, 305, 229, 252, 475, 355, 667, 456, 115, 455, 974, 756, 791, 629, 34, 20, 416, 780, 736, 120, 924, 625, 547, 380, 608, 601, 640, 628, 311, 320, 521, 972, 428, 678, 533, 714, 31, 557, 981, 50, 262, 440, 849, 198, 267, 104, 45, 183, 329, 528, 363, 122, 74, 71, 801, 233, 626, 503, 205, 817, 321, 75, 105, 327, 286, 719, 576, 144, 745, 705, 217, 491, 694, 920, 5, 856, 210, 317, 125, 634, 138, 385, 572, 38, 566, 121, 209, 623, 949, 986, 653, 733, 743, 592, 871, 711, 696, 831, 690, 803, 596, 454, 542, 398, 378, 184, 178, 254, 553, 526, 318, 925, 514, 863, 565, 54, 699, 607, 22, 938, 539, 26, 8, 874, 726, 785, 676, 814, 246, 391, 94, 232, 808, 0, 992, 892, 282, 789, 59, 395, 982, 3, 268, 880, 126, 782, 199, 19, 443, 261, 614, 824, 682, 128, 750, 586, 260, 859, 406, 76, 720, 436, 781, 823, 680, 804, 571, 939, 235, 135, 979, 816, 545, 795, 222, 110, 40, 160, 529, 269, 744, 16, 631, 866, 384, 361, 274, 996, 884, 721, 379, 777, 342, 326, 917, 704, 947, 664, 283, 345]

#### Contenidos de los indices de Train de Validación Cruzada

In [7]:
datostrain

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
847,3,24,2,0,1249,0,1,4,3,0,...,0,28,2,1,1,2,1,0,0,1
145,1,48,1,9,3566,1,3,4,2,0,...,2,30,2,1,1,2,1,0,0,1
624,0,18,2,4,2600,0,2,4,2,0,...,3,65,2,2,2,2,1,0,0,2
106,3,18,1,0,6458,0,4,2,2,0,...,3,39,0,1,2,3,2,1,0,2
334,0,24,0,3,4110,0,4,3,2,0,...,3,23,0,0,2,2,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,0,24,2,2,1755,0,4,4,1,2,...,0,58,2,1,1,1,1,1,0,1
140,2,6,2,0,709,3,1,2,3,0,...,0,27,2,1,1,0,1,0,1,1
707,1,12,0,3,2969,0,1,4,1,0,...,1,25,2,0,2,2,1,0,0,2
906,0,21,2,0,3763,4,3,2,2,1,...,0,24,2,1,1,1,1,0,1,1
405,1,24,2,4,2039,0,1,1,3,0,...,1,22,2,1,1,2,1,1,0,2

#### Contenidos de los indices de Test de Validación Cruzada

In [8]:
datostest

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
510,0,12,2,0,759,0,3,4,2,0,...,0,26,2,1,1,2,1,0,0,2
396,0,12,2,3,2578,0,0,3,1,0,...,3,55,2,2,1,3,1,0,0,1
605,0,24,1,3,2828,2,2,4,2,0,...,0,22,1,1,1,2,1,1,0,1
218,0,24,2,3,3021,0,2,2,0,0,...,0,24,2,0,1,1,1,0,0,1
515,0,6,4,0,609,0,3,4,1,0,...,1,37,2,1,2,2,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,1,27,2,9,2528,0,1,4,1,0,...,1,32,2,1,1,2,2,1,0,1
947,3,12,2,0,2859,4,0,4,2,0,...,3,38,2,1,1,3,1,1,0,1
664,2,6,4,7,1047,0,2,2,1,0,...,1,50,2,1,1,1,1,0,0,1
283,3,15,4,3,1520,4,4,4,2,0,...,1,63,2,1,1,2,1,0,0,1
345,3,15,4,4,1459,0,2,4,1,0,...,2,43,2,1,1,1,1,0,0,1

### Ejemplo de Validación Simple

In [9]:
estrategiasimple = EstrategiaParticionado.ValidacionSimple(0.2, 4)
datostrain, datostest = printing_particiones(estrategiasimple, dataset)

Aquí imprimimos la primera de las 4 particiones:
Train: [689, 649, 583, 748, 200, 950, 49, 208, 460, 776, 244, 692, 718, 42, 94, 885, 617, 403, 177, 610, 179, 226, 672, 731, 111, 474, 786, 773, 918, 209, 388, 504, 803, 271, 371, 78, 99, 625, 865, 336, 770, 47, 86, 917, 866, 176, 229, 435, 737, 458, 426, 975, 664, 369, 341, 811, 283, 665, 628, 19, 481, 69, 17, 733, 666, 699, 104, 206, 54, 994, 938, 489, 647, 66, 162, 535, 359, 851, 291, 572, 658, 441, 787, 670, 602, 37, 982, 558, 561, 536, 576, 554, 487, 332, 294, 966, 981, 112, 902, 563, 234, 817, 102, 284, 349, 318, 616, 93, 837, 500, 768, 667, 363, 254, 923, 521, 429, 43, 832, 742, 494, 232, 793, 547, 833, 222, 969, 873, 296, 353, 517, 534, 750, 874, 408, 482, 632, 25, 751, 991, 251, 352, 484, 255, 964, 85, 897, 932, 812, 238, 798, 135, 133, 268, 13, 575, 6, 309, 467, 880, 39, 64, 334, 634, 256, 57, 117, 313, 182, 630, 33, 840, 555, 364, 934, 392, 499, 118, 900, 450, 822, 996, 769, 212, 307, 51, 380, 207, 841, 486, 921, 233, 277, 153, 32, 98, 171, 791, 150, 570, 800, 285, 317, 571, 278, 12, 935, 329, 91, 905, 287, 288, 496, 922, 372, 599, 195, 319, 863, 813, 326, 545, 747, 657, 193, 714, 2, 721, 681, 527, 333, 675, 784, 806, 68, 979, 253, 890, 8, 52, 659, 631, 845, 410, 492, 877, 505, 783, 662, 738, 383, 311, 149, 404, 325, 159, 181, 580, 945, 348, 81, 868, 567, 194, 468, 763, 61, 695, 912, 646, 754, 927, 590, 910, 337, 502, 40, 685, 463, 46, 892, 202, 122, 819, 852, 230, 920, 679, 843, 381, 883, 328, 734, 58, 249, 702, 338, 746, 100, 619, 717, 147, 418, 894, 706, 316, 607, 297, 953, 434, 109, 422, 732, 818, 79, 848, 131, 273, 36, 14, 600, 589, 618, 211, 295, 753, 38, 557, 406, 136, 645, 203, 217, 606, 320, 635, 878, 596, 197, 480, 183, 835, 638, 993, 379, 888, 762, 351, 412, 180, 5, 777, 725, 479, 895, 696, 799, 60, 603, 414, 668, 911, 322, 409, 752, 446, 377, 651, 735, 173, 548, 187, 705, 568, 327, 188, 947, 609, 53, 838, 929, 941, 257, 943, 167, 411, 553, 451, 794, 904, 324, 260, 427, 407, 103, 755, 627, 774, 720, 373, 677, 126, 856, 55, 842, 893, 741, 998, 584, 265, 652, 501, 289, 421, 995, 656, 726, 67, 933, 495, 801, 686, 637, 707, 239, 984, 940, 956, 615, 382, 142, 592, 653, 785, 74, 931, 739, 119, 700, 339, 543, 740, 175, 914, 792, 72, 614, 601, 639, 515, 470, 954, 138, 944, 89, 957, 129, 820, 350, 836, 704, 530, 889, 870, 231, 41, 708, 498, 831, 549, 809, 891, 477, 20, 305, 420, 624, 308, 190, 909, 130, 306, 455, 449, 839, 970, 35, 823, 83, 90, 579, 829, 87, 227, 330, 715, 447, 972, 540, 108, 955, 186, 400, 368, 355, 77, 121, 986, 989, 541, 473, 344, 28, 245, 518, 456, 343, 113, 660, 454, 240, 593, 163, 789, 236, 290, 442, 766, 115, 608, 151, 402, 569, 462, 459, 367, 299, 779, 166, 189, 626, 506, 507, 655, 358, 736, 419, 698, 465, 11, 683, 218, 107, 987, 431, 585, 110, 844, 384, 992, 56, 263, 973, 172, 210, 958, 154, 457, 63, 523, 760, 881, 816, 853, 394, 539, 26, 886, 556, 621, 269, 275, 519, 366, 378, 204, 266, 629, 565, 401, 220, 497, 114, 354, 980, 141, 34, 228, 413, 44, 814, 219, 674, 375, 551, 76, 59, 140, 161, 223, 511, 444, 963, 84, 713, 946, 386, 92, 310, 924, 977, 663, 191, 538, 906, 716, 690, 701, 710, 684, 849, 879, 854, 215, 145, 869, 105, 258, 976, 157, 611, 990, 185, 216, 301, 399, 276, 192, 641, 586, 542, 139, 314, 723, 282, 31, 224, 3, 132, 719, 476, 280, 612, 471, 828, 436, 643, 808, 174, 156, 669, 948, 693, 417, 648, 397, 962, 749, 315, 48, 744, 745, 730, 796, 158, 360, 771, 491, 356, 926, 577, 804, 168, 780, 516, 82, 694, 757, 469, 16, 425, 697, 882, 578, 775, 293, 623, 559, 170, 997, 605, 510, 937, 597, 526, 680, 834, 235, 682, 613, 237, 302, 764, 759, 765, 292, 146, 0, 75, 872, 443, 595, 772, 252, 805, 428, 560, 164, 96, 88, 437, 537, 340, 729, 642, 562, 303, 678, 971, 875]

Test: [321, 847, 430, 767, 591, 7, 802, 546, 867, 199, 365, 261, 531, 861, 27, 267, 907, 264, 464, 999, 144, 688, 673, 124, 824, 472, 846, 376, 522, 461, 949, 241, 478, 286, 919, 862, 821, 137, 448, 728, 201, 134, 913, 148, 654, 70, 488, 246, 242, 395, 959, 509, 345, 385, 391, 622, 860, 529, 850, 544, 778, 300, 855, 274, 928, 4, 361, 262, 830, 439, 925, 968, 858, 127, 901, 528, 184, 18, 198, 524, 756, 988, 525, 30, 573, 810, 676, 97, 65, 711, 483, 80, 196, 899, 761, 155, 661, 125, 859, 152, 160, 415, 598, 259, 485, 974, 73, 532, 712, 143, 178, 116, 566, 398, 961, 370, 452, 857, 247, 165, 445, 908, 438, 594, 106, 374, 281, 644, 915, 250, 782, 550, 387, 323, 807, 983, 503, 475, 95, 405, 709, 864, 727, 508, 691, 393, 936, 396, 433, 965, 896, 640, 389, 564, 123, 432, 604, 225, 23, 357, 362, 213, 951, 270, 24, 347, 815, 952, 985, 588, 633, 346, 795, 22, 788, 335, 743, 312, 71, 520, 424, 9, 243, 214, 423, 533, 466, 876, 101, 942, 513, 939, 790, 960, 453, 21, 493, 120, 574, 304, 440, 620, 205, 10, 50, 514, 29, 221, 687, 512, 758, 898, 650, 722, 587, 342, 781, 1, 724, 825, 581, 248, 930, 967, 298, 279, 45, 884, 169, 916, 582, 827, 903, 797, 671, 272, 636, 390, 62, 887, 552, 128, 490, 978, 871, 15, 331, 416, 703, 826]

#### Contenidos de los indices de Train de Validación Simple

In [10]:
datostrain

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
689,0,12,2,0,3651,3,2,1,2,0,...,1,31,2,1,1,2,2,0,0,1
649,0,12,2,7,684,0,2,4,2,0,...,2,40,2,0,1,1,2,0,0,2
583,1,36,2,6,2384,0,1,4,2,0,...,3,33,2,0,1,1,1,0,0,2
748,3,21,2,1,5248,4,2,1,2,0,...,2,26,2,1,1,2,1,0,0,1
200,3,9,4,7,936,2,4,4,2,0,...,2,52,2,1,2,2,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2,6,3,4,683,0,1,2,1,0,...,1,29,0,1,1,2,1,0,0,1
303,0,10,4,0,1038,0,3,4,2,1,...,1,49,2,1,2,2,1,1,0,1
678,0,24,2,4,2384,0,4,4,2,0,...,0,64,0,0,1,1,1,0,0,1
971,3,24,2,0,7393,0,2,1,2,0,...,1,43,2,1,1,1,2,0,0,1
875,1,11,4,0,1322,3,2,4,1,0,...,2,40,2,1,2,2,1,0,0,1

#### Contenidos de los indices de Test de Validación Simple

In [11]:
datostest

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
321,0,24,2,4,1938,0,1,4,0,0,...,1,32,2,1,1,2,1,0,0,2
847,3,24,2,0,1249,0,1,4,3,0,...,0,28,2,1,1,2,1,0,0,1
430,3,5,2,9,3448,0,3,1,2,0,...,0,74,2,1,1,1,1,0,0,1
767,3,10,2,1,2901,4,1,1,1,0,...,0,31,2,0,1,2,1,0,0,1
591,1,24,3,0,1965,4,2,4,1,0,...,2,42,2,0,2,2,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,0,24,2,4,1282,1,2,4,1,0,...,2,32,2,1,1,1,1,0,0,2
331,3,18,4,7,1864,1,2,4,1,0,...,0,30,2,1,2,2,1,0,0,2
416,0,12,2,0,2579,0,1,4,2,0,...,0,33,2,1,1,1,2,0,0,2
703,1,30,3,9,2503,1,4,4,2,0,...,1,41,1,1,2,2,1,0,0,1
826,0,18,4,0,3966,0,4,1,1,0,...,0,33,0,0,3,2,1,1,0,2

### Probar el error y la validación del Clasificador

como todavía no hemos implementado todo el clasificador no hemos puesto nada en el constructor, pero si tenemos el error y la validación implementada, así que simpularemos un clasificador generando una lista y modificandola

In [12]:
datasetTest = dataset.extraeDatos(estrategiasimple.creaParticiones(dataset)[0].indicesTest)

#### Generamos la clasificación
Como no pertenece a esta práctica crear el clasificador hemos simulado que clasificabamos el dataset, hemos creado una lista con todo errores, otra con ningun error, y otra con algunos errores

In [13]:
listaclasificada_sin_errores = datasetTest["Class"].tolist()
listaclasificada_todo_errores = [i+1 for i in datasetTest["Class"]]
listaclasificada_algunos_errores = [i+1 if i%2 == 0 else i for i in datasetTest["Class"]]

#### Creamos el clasificador
Lo creamos sin argumentos de momento porque no pertenece a esta práctica implementar la clase completa, solo el error y la validación

In [14]:
clasificador=Clasificador.ClasificadorNaiveBayes()

#### Probamos el error

In [15]:
print(f"Probar clasificación sin errores {clasificador.error(datasetTest, listaclasificada_sin_errores)}")
print(f"Probar clasificación con errores {clasificador.error(datasetTest, listaclasificada_todo_errores)}")
print(f"Probar clasificación con errores parciales {clasificador.error(datasetTest, listaclasificada_algunos_errores)}")

Probar clasificación sin errores 0.0
Probar clasificación con errores 1.0
Probar clasificación con errores parciales 0.33

#### Probamos la validación

In [16]:
clasificador.validacion(particionado = estrategiasimple, dataset = dataset, clasificador = clasificador)

[1.0, 1.0, 1.0, 1.0]